$backgroundColor: rgba(247, 247, 247, 1);
$backgroundColor2: rgba(255, 255, 255, 1);
$colorHover: rgba(159, 159, 159, 1);
$colorHover2: rgba(230, 230, 230, 1);
$border: 1px solid rgba(234, 234, 234, 1);
$mainColor: rgba(239, 91, 112, 1);
$fontColorDark: rgba(34, 34, 34, 1);